.container2 {
    width: 250px;
    margin: 25px;
    color: #3D315B;
    background-color: rgba(154, 184, 122, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    height: 250px;
    border: red solid 2px;
    overflow: hidden;
}

.container3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

