
#background-imgs {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    padding: 2em;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 30vh;

    background-color: #495057;
}
h5{
    padding-top: 1em;
    padding-bottom: 0.5em;
}
h5>a{
    color: lavenderblush;
    font-family: 'Pathway Extreme', sans-serif;
    font-size: xx-large;
    text-decoration: none;
}
.card-body{
    font-family: 'Pathway Extreme', sans-serif;
}
p{
    color: lavenderblush;
}

.text-light{
    text-decoration: none;
}

.submit {
    margin-top: 1em;
}

@media(max-width: 768px) {
    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 75%;
    }
}


